	<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Discover</h3>
                        <ul>
                            <li><a href="#">Community Blog</a></li>
                            <li><a href="#">Tour Guide</a></li>
                            <li><a href="#">Whishlist</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Contact Info</h3>
                        <ul>
                            <li><a href="#">+917070696968</a></li>
                            <li><a href="#">+918171246767</a></li>
                            <li><a href="#">+918901533365</a></li>
                            <li><a href="info@tripetrip.in">info@tripetrip.in</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>TripEtrip</h3>
                        <p>We are a travel company focused on providing a quality experience to our customers. We offer a comprehensive range of tour and travel packages and services at efficient rates</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="https://www.instagram.com/tripetrip/"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">TripEtrip© 2020</p>
            </div>
        </footer>
    </div>
	</body>
</html>