<%- include("partials/header") %>
<style>
	.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 340px;
  height: 200px;
  border-radius: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 355px;
  opacity: 0;
  transition: .65s ease;
  border-radius: 50px;
  background-color: #9830ff;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
</style>
<div class="row" style="margin: 20px;">
	<div class="col-sm" style="margin: 15px;">
		<div class="container">
              <img src="https://images.unsplash.com/photo-1582811588429-becf2ea63485?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Rafting" class="image">
              <div class="overlay">
                <div class="text">
		            <h2>
		            Rafting
		            </h2>
		            <ul>
			            <li>
				            Rishikesh
			            </li>
						<li>
				            Manali
			            </li>
						<li>
				            Darjeeling
			            </li>
						<li>
				            Spiti
			            </li>
						<li>
				            Kollad
			            </li>
		            </ul>
	             </div>
              </div>
        </div>
	</div>
	<div class="col-sm" style="margin: 15px;">
		<div class="container">
              <img src="https://images.unsplash.com/photo-1519977866315-a0138dfb91f0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80" alt="Paragliding" class="image">
              <div class="overlay">
                <div class="text">
		            <h2>
		            Paragliding
		            </h2>
		            <ul>
			            <li>
				            Manali
			            </li>
						<li>
				            Bil Billing
			            </li>
						<li>
				            Nandi Hills
			            </li>
						<li>
				            Mussurie
			            </li>
						<li>
				            Kamshet
			            </li>
		            </ul>
	             </div>
              </div>
        </div>
	</div>
	<div class="col-sm" style="margin: 15px;">
		<div class="container">
              <img src="https://images.unsplash.com/photo-1605540436563-5bca919ae766?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Skiing" class="image">
              <div class="overlay">
                <div class="text">
		            <h2>
		            Skiing
		            </h2>
		            <ul>
			            <li>
				            Auli
			            </li>
						<li>
				            Rohtang Pass
			            </li>
						<li>
				            Solang Valley
			            </li>
						<li>
				            Kufri
			            </li>
						<li>
				            Narkanda
			            </li>
		            </ul>
	             </div>
              </div>
        </div>
	</div>
	<div class="col-sm" style="margin: 15px;">
		<div class="container">
              <img src="https://images.unsplash.com/photo-1605540436563-5bca919ae766?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Bungee Jumping" class="image">
              <div class="overlay">
                <div class="text">
		            <h3>
		            Bungee Jumping
		            </h3>
		            <ul>
			            <li>
				            Auli
			            </li>
						<li>
				            Rohtang Pass
			            </li>
						<li>
				            Solang Valley
			            </li>
						<li>
				            Kufri
			            </li>
						<li>
				            Narkanda
			            </li>
		            </ul>
	             </div>
              </div>
        </div>
	</div>
	<div class="col-sm" style="margin: 15px;">
		<div class="container">
              <img src="https://images.unsplash.com/photo-1611955773433-d252d4ae4a47?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Parasailling" class="image">
              <div class="overlay">
                <div class="text">
		            <h3>
		            Parasailling
		            </h3>
		            <ul>
			            <li>
				            Goa
			            </li>
						<li>
				            Manali
			            </li>
						<li>
				            Jaisalmer
			            </li>
						<li>
				            Udaipur
			            </li>
						<li>
				            Kamset
			            </li>
		            </ul>
	             </div>
              </div>
        </div>
	</div>
	<div class="col-sm" style="margin: 15px;">
		<div class="container">
              <img src="https://images.unsplash.com/photo-1522943854798-7ea1c5464eba?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=753&q=80" alt="HotAir Balloon" class="image">
              <div class="overlay">
                <div class="text">
		            <h3>
		            Bungee Jumping
		            </h3>
		            <ul>
			            <li>
				            Auli
			            </li>
						<li>
				            Rohtang Pass
			            </li>
						<li>
				            Solang Valley
			            </li>
						<li>
				            Kufri
			            </li>
						<li>
				            Narkanda
			            </li>
		            </ul>
	             </div>
              </div>
        </div>
	</div>
	
</div>
<%- include("partials/footer") %>