<%- include("partials/header") %>
<div class="jumbotron jumbotron-fluid" style="background-image: url(https://images.unsplash.com/photo-1561811150-4669fe7b279c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);height: 400px;width: 100%;border-radius: 30%;background-repeat: no-repeat;background-size: cover;">
  <div class="container">
    <h1 class="display-4">TRIPeTRIP</h1>
    <p class="lead">Travel Without a hustle</p>
  </div>
</div>
<div class="container" style="text-align: center;">
	<h1>
		Some Good Reasons To.
	</h1>
	<h2>
		Travel Without a <span style="color: #a607f0;font-size: 2.2em;">Hustle!</span>
	</h2>
	<h4>
		TRIPeTRIP has been exploring the tourism industry for 7 years, providing top-notch quality and comfort in travel. We know how important your holidays are and we are focused on making it more convenient by removing all the hassles for you. We provide the best and efficient tour packages for destinations all across the world, covering a wide range of activities like city tours, camping, hiking, or any other adventure sports. We believe that we have been able to develop relationships across our portfolio of suppliers for airlines, hotels, holiday packages, buses, and taxis to provide the best services.

So be it the snow-capped mountains or the palm beaches, all you need to do is pick a destination and leave the rest to us. We will take care of all your needs from logistics to hospitality so that you don’t have to worry about anything and enjoy your seamless experience collecting memories for lifetime.
	</h4>
	<div class="row">
		<div class="column" style="margin: 20px;">
			<div class="card" style="width: 18rem;border-radius: 40px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
           <img class="card-img-top" src="https://images.unsplash.com/photo-1468818438311-4bab781ab9b8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80" alt="Card image cap">
           <div class="card-body">
           <h3>
			   120 + Premuium Tours
			   </h3>
           <p class="card-text">We offer a wide range of tour options so that you can cross every destination off your bucket list.</p>
           </div>
         </div>
		</div>
		<div class="column" style="margin: 20px;">
			<div class="card" style="width: 18rem;border-radius: 40px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
           <img class="card-img-top" src="https://images.unsplash.com/photo-1528846328457-87c98b48ef37?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="Card image cap">
           <div class="card-body">
			   <h3>
			   1000+ Customers
			   </h3>
           <p class="card-text">We value our Customers and providing them the best facility is our utmost priority, because we know what traveling means to you.</p>
           </div>
         </div>
		</div>
		<div class="column" style="margin: 20px;">
			<div class="card" style="width: 18rem;border-radius: 40px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
           <img class="card-img-top" src="https://images.unsplash.com/photo-1613081759190-03ac553aee9b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80" alt="Card image cap">
           <div class="card-body">
			   <h3>
			   24 Hour Customer Support
			   </h3>
           <p class="card-text">We will do everything to make your traveling experience seamless in every aspect.</p>
           </div>
         </div>
		</div>
		
		
	</div>
	
</div>
<%- include("partials/footer") %>