<%- include("partials/header") %>
<div class ="container" style="margin: auto;">
	<div class="wrapper">
      <div class="title">
Sign Up!</div>
<form action = "/register" method = "post">
	<div class="field">
          <input type="text" name="username">
          <label>Username</label>
    </div>
	<div class="field">
          <input type="text" name="email">
          <label>Email</label>
		
    </div>
	<div class="field">
          <input type="number" name="phoneno">
          <label>Phone</label>
		
    </div>
	<div class="field">
          <input type="password" name="password">
          <label>Password</label>
		
    </div>
	<div class="field">
          <input type="password" name="adminCode">
          <label>Admin Code</label>
    </div>
	
    <button class="field">
		Sign In
	</button>
	
	
	
	
</form>
</div>
